<div class="videostats">
  <div class="videofilters">
    <input
      type="text"
      class="filterinput"
      id="tagFilter"
      onkeyup="filterByTag()"
      placeholder="Type tags to filter"
    />
    <input
      type="button"
      class="btn filterinput"
      onclick="sortByPerformance('desc')"
      value="Sort By Performance (DESC)"
    />
    <input
      type="button"
      class="btn filterinput"
      onclick="sortByPerformance('asc')"
      value="Sort By Performance (ASC)"
    />
  </div>
  <div class="videotable">
    <table>
      <thead>
        <th>Channel ID</th>
        <th>Video ID</th>
        <th>Video Title</th>
        <th>Views</th>
        <th>Likes</th>
        <th>Favorites</th>
        <th>Comments</th>
        <th>Performance</th>
      </thead>
      <tbody id="videotablebody"></tbody>
    </table>
  </div>
</div>

<style>
  .videotable {
    width: 100%;
    height: 100%;
    overflow-x: auto;
  }
  .videofilters {
    width: 100%;
    overflow-x: auto;
    padding: 10px 30px;
    text-align: center;
  }
  .videotable table {
    padding: 10px 30px;
    margin: 0 auto;
    /* border: 1px solid #eee; */
  }
  th {
    padding: 10px;
    border: 1px solid #eee;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
  .filterinput {
    /* width: 300px; */
    padding: 12px 5px 12px 5px;
    border: 1px solid #ddd;
    margin: 0 auto;
  }
  .btn {
    cursor: pointer;
  }
</style>

<script>
  async function getVideos(sortByPerformance = null, tag = null) {
    let url = "/api/videos";
    if (tag) {
      url += "?tag=" + tag;
    }
    if (sortByPerformance) {
      if (tag) url += "&";
      else url += "?";
      url += "sortByPerformance=" + sortByPerformance;
    }
    const response = await fetch(url);
    const result = await response.json();
    return result;
  }

  function createTableColumn(tableRow, data) {
    let column = document.createElement("td");
    column.innerHTML = data;

    tableRow.appendChild(column);
  }

  function createTableRow(tableBody, video) {
    if (!video) return;

    let row = document.createElement("tr");

    createTableColumn(row, video.channelId);
    createTableColumn(row, video.videoId);
    createTableColumn(row, video.title);
    createTableColumn(row, video.viewCount);
    createTableColumn(row, video.likeCount);
    createTableColumn(row, video.favoriteCount);
    createTableColumn(row, video.commentCount);
    createTableColumn(row, video.videoPerformance);

    tableBody.appendChild(row);

    // TODO: Add a action column to see the tags
  }

  function updateTable(videos) {
    let tableBody = document.getElementById("videotablebody");
    tableBody.innerHTML = "";

    // Update the table
    videos.forEach((video) => {
      createTableRow(tableBody, video);
    });
  }

  window.onload = async function () {
    const videos = await getVideos();
    updateTable(videos);
  };

  async function filterByTag() {
    const tagInput = document.getElementById("tagFilter").value;
    if (tagInput.length == 0) {
      const videos = await getVideos(null, null);
      updateTable(videos);
    } else if (tagInput.length < 3) return;
    const videos = await getVideos(null, tagInput);
    updateTable(videos);
  }

  async function sortByPerformance(order) {
    let tagInput = document.getElementById("tagFilter").value;
    if (tagInput.length == 0) {
      tagInput = null;
    }
    console.log(order);
    const videos = await getVideos(order, tagInput);
    updateTable(videos);
  }
</script>
